.header-div{
    margin-top: 4vh;
    margin-bottom: 0px;
    width: 70vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.links-div{
    margin: auto;
    display: flex;
    align-items:center;
}

.info-div{
   margin: auto;
   display: flex;
   align-items: center; 
}

.logo{
    fill: white;
    text-decoration: none;
    color: white;
    font-size: 35px;
    margin: 5px;
}

.header-link{
    margin: 10px;
    font-size: 15px;
    text-decoration: none;
    color: rgb(136,145,155);
    
}

.header-link:hover{
    color: white;

}

.header-link:active{
    color:white;
    text-decoration: underline
}

.name{
    font-size: 20px;
    margin:0px;
}

.title{
    font-size: 12px;
    margin: 0px;
    color: rgb(136,145,155)
}
.title-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
}
.line-break{
    width: 70vw;
    border: none;
    background-color: rgb(136,145,155);
    margin: 0px;
    padding:0px;
    height: 1px;
  }
   .logo-svg{
       fill: white;
   }
